<!--begin::Aside-->
<div id="kt_aside" class="aside card" data-kt-drawer="true"
     data-kt-drawer-name="aside"
     data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'200px', '300px': '250px'}"
     data-kt-drawer-direction="start"
     data-kt-drawer-toggle="#kt_aside_toggle" th:fragment="sidebar"
     xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!--begin::Aside menu-->
    <div class="aside-menu flex-column-fluid px-5">
        <!--begin::Aside Menu-->
        <div class="hover-scroll-overlay-y my-5 pe-4 me-n4"
             id="kt_aside_menu_wrapper" data-kt-scroll="true"
             data-kt-scroll-activate="{default: false, lg: true}"
             data-kt-scroll-height="auto"
             data-kt-scroll-dependencies="#kt_header, #kt_aside_footer"
             data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu"
             data-kt-scroll-offset="{lg: '75px'}">
            <!--begin::Menu-->
            <div class="menu menu-column menu-rounded fw-bold fs-6"
                 id="#kt_aside_menu" data-kt-menu="true">

                <div class="menu-item">
                    <div class="menu-content pt-8 pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">CRM</span>
                    </div>
                </div>
                <div data-kt-menu-trigger="click"
                     class="menu-item menu-accordion mb-1"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_USER','VIEW_GROUP','VIEW_PERMISSION')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/user-management') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon"> <!--begin::Svg Icon | path: icons/duotune/general/gen051.svg-->
							<span class="svg-icon svg-icon-2"> <svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
									<path opacity="0.3"
                                          d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z"
                                          fill="black"/>
									<path
                                            d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z"
                                            fill="black"/>
								</svg>
						</span> <!--end::Svg Icon-->
					</span> <span class="menu-title">User Management</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item"
                             sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_USER')">
                            <a class="menu-link"
                               th:href="@{/crm/user-management/searchUsers}"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/user-management/searchUsers') ? 'active':''}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Users</span>
                            </a>
                        </div>
                        <div class="menu-item"
                             sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_GROUP')">
                            <a class="menu-link" th:href="@{/crm/user-management/listGroups}"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/user-management/listGroups') ? 'active':''}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Groups</span>
                            </a>
                        </div>
                        <div class="menu-item"
                             sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_PERMISSION')">
                            <a class="menu-link"
                               th:href="@{/crm/user-management/listPermissions}"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/user-management/listPermissions') ? 'active':''}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Permissions</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-kt-menu-trigger="click"
                     class="menu-item menu-accordion mb-1"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_AND_TRANSFER_NT_BALANCE','CREATE_TOPUP_VERIFY')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/general') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon"> <!--begin::Svg Icon | path: icons/duotune/general/gen051.svg-->
                        <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen024.svg-->
                        <span class="svg-icon svg-icon-2">
                           <i class="lab la-get-pocket fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">General</span> <span class="menu-arrow"></span>
					</span>

                    <div class="menu-sub menu-sub-accordion menu-active-bg"
                         style="overflow: hidden;" kt-hidden-height="114">
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                             sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_AND_TRANSFER_NT_BALANCE','CREATE_TOPUP_VERIFY')"
                             th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/general/nt') ? 'show':''}">
							<span class="menu-link"> <span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">NT</span> <span class="menu-arrow"></span>
							</span>
                            <div class="menu-sub menu-sub-accordion menu-active-bg"
                                 style="overflow: hidden;" kt-hidden-height="151">
                                <div class="menu-item"
                                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_AND_TRANSFER_NT_BALANCE')">
                                    <a class="menu-link" th:href="@{/crm/general/nt/checkBalance}"
                                       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/general/nt/checkBalance') ? 'active':''}">
										<span class="menu-bullet"> <span
                                                class="bullet bullet-dot"></span>
									</span> <span class="menu-title">NT MPOS Balance</span>
                                    </a>
                                </div>
                                <div class="menu-item"
                                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','CREATE_TOPUP_VERIFY')">
                                    <a class="menu-link"
                                       th:href="@{/crm/general/nt/manualTopup}"
                                       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/general/nt/manualTopup') ? 'active':''}"> <span
                                            class="menu-bullet"> <span class="bullet bullet-dot"></span>
									</span> <span class="menu-title">NT Manual TopUp</span>
                                    </a>
                                </div>
                                <div class="menu-item"
                                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','CREATE_TOPUP_VERIFY')">
                                    <a class="menu-link"
                                       th:href="@{/crm/general/nt/verifyTransaction}"
                                       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/general/nt/verifyTransaction') ? 'active':''}"> <span
                                            class="menu-bullet"> <span class="bullet bullet-dot"></span>
									</span> <span class="menu-title">NT Transaction Check</span>
                                    </a>
                                </div>
    <!--nt postpaid topup-->
                                <div class="menu-item"
                                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','DO_POSTPAID_TOPUP')">
                                    <a class="menu-link"
                                       th:href="@{/crm/nt/postpaid/topup}"
                                       th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/nt/postpaid/topup') ? 'active':''}"> <span
                                            class="menu-bullet"> <span class="bullet bullet-dot"></span>
									</span> <span class="menu-title">NT Postpaid TopUp</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                             th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/general/ncell') ? 'show':''}">
							<span class="menu-link"> <span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">NCELL</span> <span class="menu-arrow"></span>
							</span>
                            <div class="menu-sub menu-sub-accordion menu-active-bg"
                                 style="overflow: hidden;" kt-hidden-height="151">
                                <div class="menu-item">
                                    <a class="menu-link"
                                       href="#">
										<span class="menu-bullet"> <span
                                                class="bullet bullet-dot"></span>
									</span> <span class="menu-title">NCELL Manual TopUp</span>
                                    </a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','MEMBER_MANAGEMENT')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon">
                       <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr043.svg-->
                        <span class="svg-icon svg-icon-2">
                            <i class="las la-user-friends fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">Member Management</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_SHORT_KYC_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/shortKycMembers') ? 'active':''}"
                               th:href="@{/crm/memberManagement/shortKycMembers}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">KYC Status Short</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_LONG_KYC_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/longKycMembers') ? 'active':''}"
                               th:href="@{/crm/memberManagement/longKycMembers}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">KYC Status Long</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_CSTEAM_KYC_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/csTeamKycMembers') ? 'active':''}"
                               th:href="@{/crm/memberManagement/csTeamKycMembers}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">KYC Status CS Team</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_LATEST_KYC_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/latestMembers') ? 'active':''}"
                               th:href="@{/crm/memberManagement/latestMembers}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Latest Semi KYC</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_SEMI_KYC_MEMBERS_LIST')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/members') ? 'active':''}"
                               th:href="@{/crm/memberManagement/members}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Semi KYC List</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_APPROVED_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/approve/members') ? 'active':''}"
                               th:href="@{/crm/memberManagement/approve/members}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Approved</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_DENIED_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/member-management/denied-members') ? 'active':''}"
                               th:href="@{/crm/member-management/denied-members}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Denied</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_FLAG_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/member-management/flag-members') ? 'active':''}"
                               th:href="@{/crm/member-management/flag-members}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Flags</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','COMMISSION_SET')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/setCommission') ? 'active':''}"
                               th:href="@{/crm/memberManagement/setCommission}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Commission Set</span>
                            </a>
                        </div>
<!--                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','B2B_FEE_SET')">-->
<!--                            <a class="menu-link"-->
<!--                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/setFeeB2B') ? 'active':''}"-->
<!--                               th:href="@{/crm/memberManagement/setFeeB2B}">-->
<!--								<span class="menu-bullet"> <span-->
<!--                                        class="bullet bullet-dot"></span>-->
<!--							</span> <span class="menu-title">B2B Fee Set</span>-->
<!--                            </a>-->
<!--                        </div>-->
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','CHECK_MEMBER_REGISTRATION_STATUS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/memberManagement/checkStatus') ? 'active':''}"
                               th:href="@{/crm/memberManagement/checkStatus}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Check Registration Status</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_SIM_BIND')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/simbind') ? 'active':''}"
                               th:href="@{/crm/simbind}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Check Sim Bind</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','MERCHANT_MANAGEMENT')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/merchant') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon">
                       <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr043.svg-->
                        <span class="svg-icon svg-icon-2">
                            <i class="las la-briefcase fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">Merchant Management</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REGISTERED_MERCHANTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/registered/merchants') ? 'active':''}"
                               th:href="@{/crm/registered/merchants}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Registered Merchants</span>
                            </a>
                        </div>
                    </div>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_OTC_MERCHANTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/otc/merchants') ? 'active':''}"
                               th:href="@{/crm/otc/merchants}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">OTC Merchants</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','NOTIFICATION_MANAGEMENT')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon">
                       <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr043.svg-->
                        <span class="svg-icon svg-icon-2">
                            <i class="las la-bullhorn fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">Notification</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','SEND_TEST_NOTIFICATION')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/notification/test-notification') ? 'active':''}"
                               th:href="@{/crm/notification/test-notification}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Send Test Notification</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','SEND_NOTIFICATION_TO_ALL')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/notification/send-all') ? 'active':''}"
                               th:href="@{/crm/notification/send-all}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Send Notification To All</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','SEND_NOTIFICATION')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/notification/send-notification') ? 'active':''}"
                               th:href="@{/crm/notification/send-notification}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Send Notification</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','SEND_BULK_NOTIFICATION')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/notification/bulk-notification') ? 'active':''}"
                               th:href="@{/crm/notification/bulk-notification}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Send Bulk Notification</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','CELLCOM_TRANSFER','LOAD_WALLET')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon">
                       <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr043.svg-->
                        <span class="svg-icon svg-icon-2">
                            <i class="las la-paper-plane fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">Transfer</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','LOAD_WALLET')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer/loadWallet') ? 'active':''}"
                               th:href="@{/crm/transfer/loadWallet}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Load Wallet</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','CELLCOM_TRANSFER')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer/cellcomTransfer') ? 'active':''}"
                               th:href="@{/crm/transfer/cellcomTransfer}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Cellcom Transfer</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','CELLCOM_TRANSFER','LOAD_WALLET')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bulk') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon"> <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
							<span class="svg-icon svg-icon-2">
                                <i class="lab la-shirtsinbulk fs-2"></i>
						</span> <!--end::Svg Icon-->
					</span> <span class="menu-title">Bulk</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','LOAD_WALLET')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bulk/bulLloadWallet') ? 'active':''}"
                               th:href="@{/crm/bulk/bulkLoadWallet}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Load Wallet</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','LOAD_WALLET')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bulk/directLoadWallet') ? 'active':''}"
                               th:href="@{/crm/bulk/directLoadWallet}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Direct Bulk Load Wallet</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','CELLCOM_TRANSFER')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bulk/bulkCellcomTransfer') ? 'active':''}"
                               th:href="@{/crm/bulk/bulkCellcomTransfer}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Cellcom Transfer</span>
                            </a>
                        </div>
<!--                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','REVERSER_TRANSFER')">-->
<!--                            <a class="menu-link"-->
<!--                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer/reverseTransfer') ? 'active':''}"-->
<!--                               th:href="@{/crm/transfer/reverseTransfer}">-->
<!--								<span class="menu-bullet"> <span-->
<!--                                        class="bullet bullet-dot"></span>-->
<!--							</span> <span class="menu-title">Wallet Reverse Transfer</span>-->
<!--                            </a>-->
<!--                        </div>-->
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','REVERSE_TRANSFER')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer/confirm/reverse') ? 'active':''}"
                               th:href="@{/crm/transfer/confirm/reverse}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Direct Wallet Reverse Transfer</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REPORTS')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon"> <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen005.svg-->
                        <span class="svg-icon svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="black"/>
                            <rect x="7" y="17" width="6" height="2" rx="1" fill="black"/>
                            <rect x="7" y="12" width="10" height="2" rx="1" fill="black"/>
                            <rect x="7" y="7" width="6" height="2" rx="1" fill="black"/>
                            <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black"/>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">Report</span> <span
                            class="menu-arrow"></span>
                    </span>
                    <div class="menu-sub menu-sub-accordion">
                        <!--						<div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','CELLCOM_TRANSFER')">-->
                        <!--							<a class="menu-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/getBatches') ? 'active':''}"-->
                        <!--							   th:href="@{/crm/report/getBatches}"> <span-->
                        <!--									class="menu-bullet"> <span class="bullet bullet-dot"></span>-->
                        <!--							</span> <span class="menu-title">Bulk Transfer Report</span>-->
                        <!--							</a>-->
                        <!--						</div>-->
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_NT_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/ntTransaction') ? 'active':''}"
                               th:href="@{/crm/report/ntTransaction}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">NT Transaction</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_DISHHOME_TV_TRANSACTION')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/dishhome/transaction') ? 'active':''}"
                               th:href="@{/crm/report/dishhome/transaction}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Dishhome Transaction Check</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_NT_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/manual-topup') ? 'active':''}"
                               th:href="@{/crm/report/manual-topup}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">NT Manual Topup Report</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/loadWallet') ? 'active':''}"
                               th:href="@{/crm/report/loadWallet}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Load Wallet</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/history') ? 'active':''}"
                               th:href="@{/crm/report/history}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Cellcom Transfer</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REVERSE_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/reverseWallet') ? 'active':''}"
                               th:href="@{/crm/report/reverseWallet}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Wallet Reverse Transfer</span>
                            </a>
                        </div>
                       <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_SUCCESS_TRANSACTION_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/success-transaction') ? 'active':''}"
                               th:href="@{/crm/report/success-transaction}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Success Transaction</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_FAILED_TRANSACTION_REPORTS')">
                           <a class="menu-link"
                              th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/failed-transaction') ? 'active':''}"
                              th:href="@{/crm/report/failed-transaction}"> <span
                                   class="menu-bullet"> <span class="bullet bullet-dot"></span>
                           </span> <span class="menu-title">Failed Transaction</span>
                           </a>
                       </div>
                        <!--<div class="menu-item">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/customer-details') ? 'active':''}"
                               th:href="@{/crm/report/customer-details}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                           </span> <span class="menu-title">Customer Details</span>
                            </a>
                        </div>-->
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_WALLET_TRANSACTION_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/wallet-transaction') ? 'active':''}"
                               th:href="@{/crm/report/wallet-transaction}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Wallet Transaction</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_LOG_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/linkFails') ? 'active':''}"
                               th:href="@{/crm/report/linkFails}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Log Report</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_LOAD_WALLET_ISSUE')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/loadWalletIssue') ? 'active':''}"
                               th:href="@{/crm/report/loadWalletIssue}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Load Wallet issue</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_LOAD_WALLET_SUCCESS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/loadWalletSuccess') ? 'active':''}"
                               th:href="@{/crm/report/loadWalletSuccess}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Load Wallet Success</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_NCHL_REPORT')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/nchl/report/cips') ? 'active':''}"
                               th:href="@{/crm/nchl/report/cips}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Cips Nchl Report</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_NCHL_REPORT')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/nchl/report/ips') ? 'active':''}"
                               th:href="@{/crm/nchl/report/ips}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Ips Nchl Report</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REPORT')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transferTypeId') ? 'active':''}"
                               th:href="@{/crm/transferTypeId}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Download Receipt</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_AGENT_COMMISSION')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/view/agent/commission') ? 'active':''}"
                               th:href="@{/crm/report/view/agent/commission}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Agent Commission Report</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_REPORTS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/report/loggedInReport') ? 'active':''}"
                               th:href="@{/crm/report/loggedInReport}"> <span
                                    class="menu-bullet"> <span class="bullet bullet-dot"></span>
                            </span> <span class="menu-title">Logged In Report</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"

                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon">
                       <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr043.svg-->
                        <span class="svg-icon svg-icon-2">
                            <i class="las la-university fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">Bank</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_BLOCKED_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bank/blocked-members') ? 'active':''}"
                               th:href="@{/crm/bank/blocked-members}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Block Status</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_ACTIVE_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bank/active-members') ? 'active':''}"
                               th:href="@{/crm/bank/active-members}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Active Status</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_TO_BE_LINKED_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/banks/ToBeLinked') ? 'active':''}"
                               th:href="@{/crm/banks/ToBeLinked}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">ToBe Linked</span>
                            </a>
                        </div>
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN','VIEW_NOT_LINKED_MEMBERS')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bank/not-linked') ? 'active':''}"
                               th:href="@{/crm/bank/not-linked}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Not Linked</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div data-kt-menu-trigger="click" class="menu-item menu-accordion"
					 sec:authorize="hasAnyAuthority('SUPER_ADMIN','GOAML_REPORT')"
                     th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/transfer') ? 'show':''}">
					<span class="menu-link"> <span class="menu-icon">
                       <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr043.svg-->
                        <span class="svg-icon svg-icon-2">
                            <i class="las la-university fs-2"></i>
                        </span>
                        <!--end::Svg Icon-->
					</span> <span class="menu-title">GoAML</span> <span
                            class="menu-arrow"></span>
					</span>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN', 'GOAML_REPORT')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bank/blocked-members') ? 'active':''}"
                               th:href="@{/crm/goaml/reports}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">Reports</span>
                            </a>
                        </div>
                    </div>
                    <div class="menu-sub menu-sub-accordion">
                        <div class="menu-item" sec:authorize="hasAnyAuthority('SUPER_ADMIN', 'GOAML_REPORT')">
                            <a class="menu-link"
                               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/crm/bank/blocked-members') ? 'active':''}"
                               th:href="@{/crm/goaml/report/ttr}">
								<span class="menu-bullet"> <span
                                        class="bullet bullet-dot"></span>
							</span> <span class="menu-title">TTR Report</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-content">
                        <div class="separator mx-1 my-4"></div>
                    </div>
                </div>
            </div>
            <!--end::Menu-->
        </div>
    </div>
    <!--end::Aside menu-->
</div>
<!--end::Aside-->